.faq {
  .wrapper {
	max-width: 1200px;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
	
	@include media(xl) {
	  padding: 2.5rem;
	}
	
	.section-title {
	  margin-bottom: 1rem;
	  max-width: 390px;
	}
	
	.faq-list {
	  border: 0.5px solid #D8D8D8;
	  display: flex;
	  flex-wrap: wrap;
	  
	  .item {
		padding: 1.5rem;
		width: 100%;
		background: #ffffff;
		border: 0.5px solid #D8D8D8;
		
		@include media(md) {
		  width: 50%;
		}
		
		@include media(xl) {
		  width: 25%;
		  
		  &:hover {
			background: #F5F5F5;
		  }
		}
		
		.icon {
		  width: 60px;
		  height: 60px;
		  position: relative;
		}
		.text {
		  margin: 1rem 0;
		}
	  }
	}
  }
}
